<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josephbill.examms">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pen"
        android:label=" KeExams"
        android:roundIcon="@drawable/pen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".pributton"
            android:label="@string/title_activity_pributton"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".secbutton"
            android:label="@string/title_activity_secbutton"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prisubeng"
            android:label="@string/title_activity_prisubeng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prisubkiswa"
            android:label="@string/title_activity_prisubkiswa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prisubmaths"
            android:label="@string/title_activity_prisubmaths"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prisubssc"
            android:label="@string/title_activity_prisubssc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prisubscien"
            android:label="@string/title_activity_prisubscien"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".secsubeng" />
        <activity android:name=".secsubkiswa" />
        <activity android:name=".secsubmaths" />
        <activity android:name=".secsubbio" />
        <activity android:name=".secsubphy" />
        <activity android:name=".secsubchem" />
        <activity android:name=".secsubbusi" />
        <activity android:name=".secsubagric" />
        <activity android:name=".secsubcomps" />
        <activity android:name=".secsubhist" />
        <activity android:name=".secsubgeo" />
        <activity android:name=".secsubcre" />
        <activity android:name=".secsubagric1" />
        <activity android:name=".secsubbio1" />
        <activity android:name=".secsubbusi1" />
        <activity android:name=".secsubchem1" />
        <activity android:name=".secsubcomps1" />
        <activity android:name=".secsubcre1" />
        <activity android:name=".secsubeng1" />
        <activity android:name=".secsubgeo1" />
        <activity android:name=".secsubhist1" />
        <activity android:name=".secsubkiswa1" />
        <activity android:name=".secsubmaths1" />
        <activity android:name=".secsubphy1" />
        <activity android:name=".secsubagric2" />
        <activity android:name=".secsubbio2" />
        <activity android:name=".secsubbusi2" />
        <activity android:name=".secsubchem2" />
        <activity android:name=".secsubcomps2" />
        <activity android:name=".secsubcre2" />
        <activity android:name=".secsubeng2" />
        <activity android:name=".secsubgeo2" />
        <activity android:name=".secsubhist2" />
        <activity android:name=".secsubkiswa2" />
        <activity android:name=".secsubmaths2" />
        <activity android:name=".secsubphy2" />
        <activity android:name=".priengview" />
        <activity android:name=".prikiswaview" />
        <activity android:name=".primathview" />
        <activity android:name=".priscienview" />
        <activity android:name=".prisscview" />
        <activity android:name=".agric1view" />
        <activity android:name=".agric2view" />
        <activity android:name=".bio1view" />
        <activity android:name=".bio2view" />
        <activity android:name=".busi1view" />
        <activity android:name=".busi2view" />
        <activity android:name=".chem1view" />
        <activity android:name=".chem2view" />
        <activity android:name=".comps1view" />
        <activity android:name=".comps2view" />
        <activity android:name=".cre1view" />
        <activity android:name=".cre2view" />
        <activity android:name=".eng1view" />
        <activity android:name=".eng2view" />
        <activity android:name=".geo1view" />
        <activity android:name=".geo2view" />
        <activity android:name=".hist1view" />
        <activity android:name=".hist2view" />
        <activity android:name=".kiswa1view" />
        <activity android:name=".kiswa2view" />
        <activity android:name=".math1view" />
        <activity android:name=".math2view" />
        <activity android:name=".phy1view" />
        <activity android:name=".phy2view" />
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UsersListActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>